.datasets {
	align-items: center;
	margin:auto;
	width: 60%;
	justify-content: center;
}

.internalPage {
	display: flex;
	align-items: center;
	margin:auto;
	width: 60%;
	justify-content: center;
}

.joinProject {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 50vh;
	width: 50%;
	float:left;
}

.createProject {
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 50vh;
	width: 50%;
	float:right;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	min-height: 100vh;
}